.Cell {
  height: 100px;
  width: 100px;
  background-color: black;
  cursor: pointer;
  border: transparent solid 2px;
}

.Cell-lit {
  background-image: url("./assets/lightbulb.jpg");
  background-size: cover;
  background-position: center;
  border: rgb(192, 148, 4) solid 2px;
  transition: all .5s;
}